.App {
  font-family: sans-serif;
  text-align: center;

}

@media only screen and (min-width: 800px) {
  .App {
    padding-right: 10px;
  }
}

.react-resizable {
  max-width: 100%;
}

.react-resizable-handle {
  bottom: -10px;
  right: -10px;
}

.top-bar {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.top-bar > .flex {
  justify-content: space-between;
  width: 100%;
}

.selected {
  background-color: #FFC800 !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > * {
  margin: 0 5px;
}

.country {
  cursor: pointer;
  margin-bottom: 4px;
  line-height: 24px;
  padding: 2px 6px;
  background-color: lightgrey;
  border-radius: 4px;
  display: flex;
}

.tabs a {
  padding: 0.2em 1em;
}

.tabs.is-toggle li.is-active a {
  background-color: #1982C4;
  border-color: #1982C4;
}

.chart-title {
  display: block;
  margin-top: 10px;
}

.remove-icon {
  color: grey;
  padding-left: 8px;
}

.remove-icon:hover {
  color: black;
}

.app-loader {
  margin-top: calc(50vh - 40px);
  margin-left: 10px;
}
.button-remove-favorite {
  height: 32px;
}

.input {
  height: 32px;
}